.container{
    margin: 0;
    padding: 0;
    background-color: #0c0a1f;
    width: 100%;
 ;
    
}

.title{
    margin: 0;
    font-size: 92px;
    font-weight: 600;
    padding: 0px 50px;
    position: relative;
    background-image: url('https://images.pexels.com/photos/161815/santorini-oia-greece-water-161815.jpeg'); /* Replace 'your_image_url_here.jpg' with your image URL */
    background-clip: text;
    color: transparent;
    background-position: center center;
}

.little{
    margin-top: -10px;
    font-size: 36px;
    margin-left: 250px;
    color: white;
    font-weight: 400;
}

.wrapper{
    display: flex;
    gap: 150px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 20px;
    height: 70vh;
}

.imgContainer{
    margin-left: 20px;
    height: 70%;
    position: relative;
    border-radius: 5px;
}


.img{
    position:absolute;
    object-fit: cover;
    width: 80%;
    height: 80%;
    border-radius: 5px;
}

.right{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 20px;
}

.textTitle{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.textSub{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
}

.textDesc{
    font-size: 14px;
    font-weight: 200;
    color: lightgray;
    margin-bottom: 50px;
}

.btn{
    color: white;
    background-color: blueviolet;
    border: none;
    outline: none;
    width: max-content;
    padding: 10px 20px;
}